.App {
  text-align: center;
  background-color: #000;
}

.webcam {
  position: absolute;
  left: 25%;
  width: 100vw;
  max-width: 900px;
  overflow-y: hidden;
  border-radius: 10%;
}

.canvas {
  position: absolute;
  left: 25%;

  z-index: 1;

 
  width: 100vw;
  height: 100vh;
  max-width: 900px;
}
